:root {
    --font-family: "Fraunces", serif;
    --second-family: "Barlow", sans-serif;
    --color-dark-cyan: #0e8784;
    --color-dark-blue: #333d4b;
    --color-orange: #fdd6ba;
    --color-light: #fefcf7;
    --color-grey: #83888f;
}
